@import url('https://fonts.googleapis.com/css2?family=Roboto Slab:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.1rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d9da6;
}

.calendar-wrapper {
  width: 360px;
  height: 640px;
  background-color: #393d46;
  padding: 1rem;
}

.calendar-month {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #0d9da6;
}

.month,
.year {
  font-size: 2rem;
  font-weight: 300;
  color: #0d9da6;
}

.calendar-icon-btn span {
  margin: 1rem;
  font-size: 1.5rem;
  color: #0d9da6;
}

.calendar-icon-btn span:hover {
  cursor: pointer;
  color: green;
}

.calendar-week {
  display: grid;
  grid-template-columns: repeat(7, 50px);
  justify-content: space-around;
  margin-top: 1rem;
}

.calendar-week h2 {
  text-align: center;
  font-weight: 100;
  font-size: 1.3rem;
  color: #abb4a5;
  width: 1rem;
  overflow: hidden;
  letter-spacing: 2rem;
  margin-left: 1rem;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 50px);
  justify-content: space-around;
  margin-top: 1rem;
}

.day {
  display: grid;
  text-align: center;
  height: 50px;
  font-weight: 100;
  font-size: 1.2rem;
  padding-top: 0.5rem;
  color: #abb4a5;
  cursor: pointer;
}

#inative {
  display: grid;
  text-align: center;
  height: 50px;
  font-weight: 100;
  font-size: 1.2rem;
  padding-top: 0.5rem;
  color: #abb4a5;
  opacity: .5;
}

#active {
  color: #0d9da6;
  border: 1px solid #66a72c;
  border-radius: 10px;
}

.event {
  width: 30px;
  height: 20px;
  overflow: hidden;
  border-radius: 2px;
  padding-left: 5px;
  margin: auto;
  text-align: center;
  font-size: 0.9rem;
  color: #0d9da6;
  background-color: #192535;
}

.display-wrapper {
  /* width: 360px; */
  height: 150px;
  background-color: #192535;
  text-align: center;
  display: grid;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
}

.display {
  font-weight: 300;
  font-size: 1.3rem;
  text-transform: capitalize;
  color: #e7edeb;
  border-bottom: 1px solid #0d9da6;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

/* color: #fec009;background-color: #66a72c; */

.modal {
  margin: 10% auto;
  border: none;
  width: 360px;
  background-color: #313237;
}

.modal h2 {
  color: #e7edeb;
}

.modal fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal fieldset legend {
  text-align: right;
  color: #fec009;
  font-size: 1.5rem;
  font-weight: 100;
}

.modal fieldset legend:hover {
  cursor: pointer;
  color: red;
  font-weight: 300;
}

.modal fieldset p {
  color: #c0c2c6;
}

.modal fieldset input {
  width: 250px;
  height: 35px;
  font-size: 1.5rem;
  padding-left: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #abb4a5;
  border: none;
  color: #192535;
}

.modal fieldset button {
  width: 250px;
  height: 35px;
  border-radius: 5px;
  background-color: #66a72c;
  color: #192535;
  font-size: 1rem;
}

/* -------------- RESPONSIVO ----------------- */
@media (min-width: 600px) {
  .calendar-wrapper {
    width: 450px;
  }
  .event-wrapper {
    width: 450px;
  }
}

@media (min-width: 800px) {
  .calendar-wrapper {
    width: 400px;
    border-radius: 10px 0 0 10px;
  }
  .event-wrapper {
    width: 360px;
    border-radius: 0 10px 10px 0;
  }
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: normal;
    margin-top: 10%;
  }
}
