@import url('https://fonts.googleapis.com/css2?family=Roboto Slab:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.1rem;
  font-family: 'Roboto Slab', serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

/* Para tela tipo celular usar no body {height:100vh;} E no  alendar-wrapper { height: 100%; } */

.calendar-wrapper {
  background-color: #faeeee;
  box-shadow: 2px 2px 3px 2px #0d9da6;
  width: 100vw;
  max-width: 600px;
  height: 100%;
  padding: 1rem;
}

.display {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.calendar-month {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #0d9da6;
  margin-bottom: 2rem;
}

.calendar-month h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

.calendar-icon-btn {
  display: flex;
  font-size: 1.5rem;
  gap: 3rem;
  color: #393d46;
}

.calendar-icon-btn span:hover {
  cursor: pointer;
  color: #e6c3c3;
}

.calendar-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.calendar-week h2 {
  font-weight: 100;
  color: #393d46;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-around;
}

.calendar-days div {
  cursor: pointer;
  height: 70px;
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid #0d9da6;
  padding: 0.5rem;
  margin: 1px;
}
.calendar-days div:hover {
  background-color: #fadddd;
}

#inative {
  opacity: 0.3;
  cursor: default;
  height: 70px;
  font-size: 1.2rem;
  border: 1px solid #393d46;
  padding: 0.5rem;
  margin: 1px;
}

#active {
  background-color: #95dbe09a;
}

.event {
  width: 100%;
  height: 20px;
  font-size: 0.7rem;
  font-weight: 100;
  overflow: hidden;
  border-bottom: 1px solid #66a72c;
  color: #66a72c;
}

.modal {
  margin: 10% auto;
  width: 360px;
  border-radius: 5px;
  background-color: #acf0f5;
}

.modal fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.modal fieldset legend {
  text-align: right;
  color: #fec009;
  font-size: 1.5rem;
  font-weight: 100;
}

.modal fieldset legend:hover {
  cursor: pointer;
  color: red;
  font-weight: 300;
}

.new-event {
  font-size: 1.5rem;
}

.modal fieldset input {
  width: 250px;
  height: 35px;
  font-size: 1.5rem;
  padding-left: 10px;
  margin: 10px;
  border-radius: 5px;
}

.button-create {
  width: 250px;
  height: 35px;
  text-align: center;
  padding-top: 0.3rem;
  border: 2px solid #66a72c;
  background-color: #9ad6da;
  border-radius: 5px;
  font-size: 1rem;
}

.button-create:hover {
  cursor: pointer;
  background-color: #84b7bb;
}

.modal-event {
  margin: 10% auto;
  width: 360px;
  border-radius: 5px;
  background-color: #f9e2e2;
}

.modal-event fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.modal-event fieldset legend {
  text-align: right;
  color: #fec009;
  font-size: 1.5rem;
  font-weight: 100;
}

.modal-event fieldset legend:hover {
  cursor: pointer;
  color: red;
  font-weight: 300;
}

.current-event {
  font-size: 1.5rem;
}

.text-event {
  border-bottom: 1px solid #fec009;
  font-weight: 100;
}

.button-delete {
  width: 250px;
  height: 35px;
  text-align: center;
  padding-top: 0.3rem;
  border: 2px solid #ff907d;
  background-color: #fbccc3;
  border-radius: 5px;
  font-size: 1rem;
}

.button-delete:hover {
  cursor: pointer;
  background-color: #eeb7ad;
}
